<html>
        <head>
                <link rel="stylesheet" href="style.css">
                </head>
    <body>
        <form action = "/appendDeveloper" method = "POST">
            First Name <input type = "text" name = "firstname"/> <br>
            Last Name <input type ="text" name="lastname"/><br>
            Level<input type="text" name="level"/><br>
            State<input type ="text" name ="state"/><br>
            Suburb <input type = "text" name = "suburb"/> <br>
            Street <input type = "text" name = "street"/> <br>
            Unit <input type = "text" name = "unit"/> <br>
            <button>Submit</button><br>
        </form>
        <a href = "/">Home</a><br>
    </body>
</html>