<html>
        <head>
            <link rel="stylesheet" href="style.css">
            </head>
    <body>
        <img src="monash-1.png" width=400>
        <br>
        <h3>
            <a href="/adddeveloper"> Add New Developer</a> <br>
            <a href="/showDeveloper"> Show Developer</a> <br>
            <a href="/addtask"> Add New Task</a> <br>
            <a href="/listAll"> List Tasks</a><br>
            <a href="/deletetaskid"> Delete Task by Id</a><br>
            <a href="/deleteCompleted"> Delete Completed Tasks</a><br>
            <a href="/updatetask"> Update Task By Id</a><br>
            <a href="/labTask"> Extra Task</a><br>
            
        </h3>
    </body>
</html>